/*font-family: "Poppins", sans-serif;   font-family: "Black Ops One", system-ui;*/
* {
     box-sizing: border-box;
     padding: 0px;
     border: 0px;
}

a {
     text-decoration: none;
}

.container {
     max-width: 1440px;
     width: 100%;
     background: #005AD5;
     margin-inline: auto;
}

.header {
     display: flex;
     justify-content: space-between;
     margin-inline: auto;
     padding-top: 48px;
     padding-right: 98px;
     padding-left: 135px;

}

.logo {
     max-width: 233px;
}

.logo__link {
     color: #FFF;
     font-family: "Black Ops One";
     font-size: 36px;
     font-weight: 400;
}

.nav {
     display: flex;
     gap: 98px;
}

.nav__link {
     color: #FFF;
     text-align: center;
     font-family: Poppins;
     font-size: 20px;
     font-weight: 400;
}

.main {}

.title {
     min-width: 495px;
     color: #FFF;
     font-family: Poppins;
     font-size: 43.421px;
     font-weight: 600;

     margin-top: 247px;
     margin-left: 135px;
}

.description {
     color: #FFF;
     font-family: Poppins;
     font-size: 14.589px;
     font-weight: 400;
     max-width: 462px;
     margin-top: 38px;
     margin-left: 138px;
}

.btn {
     display: inline-block;
     width: 124px;
     height: 54px;
     border-radius: 10px;
     background: #FFF;
     padding: 16px 32px;
     margin-top: 50px;
     margin-left: 150px;
     cursor: no-drop;

     color: #005AD5;
     font-family: Poppins;
     font-size: 16px;
     font-weight: 600;
}

img {
     max-width: 100%;
     height: auto;
}
.images {}

.houseimg {}

.polygonimg {}