/*font-family: "Poppins", sans-serif;   font-family: "Black Ops One", system-ui;*/
* {
     box-sizing: border-box;
     padding: 0px;
     border: 0px;
     margin: 0px;
}

a {
     text-decoration: none;
}

img {
     max-width: 100%;
}

:root {
     --main-color: #005AD5;
     --ff-main: "Poppins", sans-serif;
}

.container {
     max-width: 1440px;
     margin-inline: auto;
}

.welcome-page {
     background: #005AD5;
}

.header {
     display: flex;
     justify-content: space-between;
     margin-inline: auto;
     padding-top: 48px;
     padding-right: 98px;
     padding-left: 135px;

     margin-bottom: 235px;
}

.logo {
     max-width: 233px;
}

.logo__link {
     color: #FFF;
     font-family: "Black Ops One";
     font-size: 36px;
     font-weight: 400;
}

.nav {
     display: flex;
     gap: 98px;
}

.nav__link {
     color: #FFF;
     text-align: center;
     font-family: Poppins;
     font-size: 20px;
     font-weight: 400;
}

.welcome {
     display: flex;
     align-items: center;
     margin-bottom: 113px;
}

.welcome__info {}

h1 {
     color: #FFF;
     font-family: var(--ff-main);
     font-size: 43px;
     font-weight: 600px;
     padding-left: 135px;
     margin-bottom: 38px;
}

.welcome_description {
     color: #FFF;
     font-family: var(--ff-main);
     font-size: 14px;
     font-weight: 400px;
     padding-left: 138px;
     padding-right: 129px;
     margin-bottom: 50px;
}

.welcome_btn {
     display: inline-block;
     border-radius: 10px;
     background: #FFF;
     padding: 16px 32px;

     color: #005AD5;
     font-family: var(--ff-main);
     font-size: 16px;
     font-weight: 600;
     color: var(--main-color);
     margin-left: 150px;
}

.welcome-house {
     margin-right: 98px;
}

.polygon {
     display: flex;
}

.offer_info {}

h2 {
     
}

.offer_blocks {
     display: flex;
}

.offer {

}

.card {

}

.card-img {

}

.card-body {

}

.card-title {

}

.card-text {

}

.btn-card {

}
